header{
    max-width: 1240px;
    height: 68px;
    width: 100%;
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
    img{
        width: 211px;
        height: 68px;
    }
}

@media (max-width: 768px) {
    header{
        margin-top: 20px;
        align-items: center;
        img{
            width: 145px;
            height: 47px;
        }
    }
}
