.navigation{
    display: flex;
    align-items: center;
    height: 100%;
    gap: 57px;
    .active-link{
        text-decoration: underline;
    }
    a {
        @include font-montserrat(24px, 500, $black);
    }
}

@media (max-width: 768px) {
    .navigation{
        gap: 26px;
        a {
            @include font-montserrat(12px, 500, $black);
        }
    }
}