.about-content{
    width: calc(100% - 40px);
    max-width: 1023px;
    flex-grow: 1;
    margin-top: 38px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

@media (max-width: 768px) {
    .about-content{
        margin-top: 20px;
    }
}