.housing-content{
    max-width: 1240px;
    width: calc(100% - 40px);
    margin-top: 50px;
    flex-grow: 1;
    .hosting-info{
        margin-top: 30px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        .hosting-title{
            h2{
                @include font-montserrat(36px, 500, $color-1);
            }
            p{
                @include font-montserrat(18px, 500, $black);
            }
            .housing-tags{
                margin-top: 20px;
                display: flex;
                gap: 10px;
                flex-wrap: wrap;
            }
        }
        .host{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 15px;
            h3{
                @include font-montserrat(18px, 500, $color-1);
            }
            img{
                width: 64px;
                height: 64px;
                border-radius: 32px;
                object-fit: cover;
            }
            .host-img-name{
                display: flex;
                align-items: center;
                gap: 10px;
            }
        }
    }
    .collapses{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 24px;
        column-gap: 76px;
    }
}

@media (max-width: 768px) {
    
    .housing-content{
        margin-top: 27px;
        .hosting-info{
            margin-top: 15px;
            flex-direction: column;
            .hosting-title{
                h2{
                    @include font-montserrat(18px, 500, $color-1);
                }
                p{
                    @include font-montserrat(14px, 500, $black);
                }
                .housing-tags{
                    margin-top: 10px;
                }
            }
            .host{
                margin-top: 16px;
                flex-direction: row-reverse;
                align-items: center;
                justify-content: space-between;
                h3{
                    @include font-montserrat(12px, 500, $color-1);
                }
                img{
                    width: 32px;
                    height: 32px;
                    border-radius: 16px;
                }
                .host-img-name{
                }
            }
        }
        .collapses{
            display: grid;
                grid-template-columns: 1fr;
                gap: 20px;
        }
    }
}