@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: "font-1";
  src: url(../assets/fonts/JosefinSans-Medium.ttf);
}

$font-1: "Montserrat", sans-serif;

$color-1: #FF6060;
// $color-2: salmon;
$black: black;
$white: white;

@mixin verticalCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin font-montserrat($size, $bold, $color) {
  font-family: $font-1;
  font-size: $size;
  color: $color;
  font-weight: $bold;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: $white;
  font-family: $font-1;
  // @include verticalCenter;
}
#root{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
